article{
    font-size:20px;
    margin: 0 auto;
    width:600px
}    
.article-date {
  float: left;
  font-weight: bold;
  margin: 0 3rem 2rem 0;
}
.quote {
  width: 300px;
  font-size: 150%;
  position: relative;
  display: inline-block;
  font-style: italic;
}
.quote::before {
  content: open-quote;
  font-size: 650%;
  font-weight: bold;
  position: absolute;
  font-family: serif;
  color: #00ffff;
  z-index: -5;
}

.quote::after {
  content: close-quote;
}

.quote-right {
  float: right;
  margin: 1rem -8rem 2rem 2rem;
  border-left: 4px solid green;
  padding-left: 2rem;
}

.quote-left {
  float: left;
  margin: 1rem 2rem 3rem -6rem;
  border-right: 5px solid green;
  padding-right: 2rem;
  text-align: left;
}

.quote-left::before {
  content: open-quote;
  right: 1rem;
  top: -5rem;
}
.image-left {
  float: center;
  margin: 2rem 2rem 2rem -8px;
  float:left;
}
.image-caption {
  background: brown;
  padding: 10px;
  color: white;
}
