body{
    background-color:brown;
   }
   h1{  
     font-family:helvertica;
     color:white;
     font-size:50px;
     text-align:center;
   }
   h2{
     font-family:monaco;
     color:blue;
     text-align:center;
     text-decoration:underline;
   }
   .introduction {
     color:white;
      font-size:20px;
      text-align:left;
      padding:20px;
      width:400px;
      height:200px;
      margin:auto;
   }
   h3{
      font-family:monaco;
      color:yellow;
      font-size:20px;
      text-align:left;
      text-decoration:underline;
     } 
   .table{
     color:black;
     font-size:15px;
   }
   h4{
    color:white;
    text-align:left;
    font-size:20px;
     }
   
   .video-info {
     color: blue;
    font-size:20px;
    text-align:left;
    text-color:silver;
     padding:20px;
     width:400px;
     height:200px;
     margin:auto;
     text-shadow:1px 1px black;
   }
   img{
    margin-left:100px;
    padding:5px;
    border-width:10px;
    border-color:blue;
    border-style:solid;
    border-radius:600px;
   }
   .link{
     font-size:20px;
     color:yellow;
     text-align:center;
   }
     h5{
       font-family:monaco;
       color:white;
       font-size:20px;
       text-align:left;
   }
       li-2{
         font-size:0px;
         color:white;
         text-decoration:underline;
       }
     form{
     background-color:black;
     font-size:25px;
     padding:6px;
     margin:30px;
   }